<div *ngIf="isEdit">
    <label [for]="'editValue' + todo.id">
        Edit todo text: 
        <input [id]="'editValue' + todo.id"
               type="text"
               [(ngModel)]="editValue">
      </label>
    <button (click)="onSave()">Save</button>
    <button (click)="onCancel()">Cancel</button>
</div>
<p *ngIf="!isEdit" (click)="onEdit()">Todo text: {{todo.text}}</p>
<label [for]="'done' + todo.id">
    Done <input [id]="'done' + todo.id"
                type="checkbox"
                (input)="onChecked()"
                [(ngModel)]="todo.done">
</label>

  